* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: font;
    src: url(../fonts/Roboto-Regular.ttf);
}

p {
    font-family: "font";
}

body {
    width: 1920px;
    background-color: #F7F7F7;

}

.container {
    width: 1820px;
    margin-left: auto;
}

.add_div {
	text-align: center;
	position: relative;
	top: 12vh;
}

h1 {
	font-size: 78px;
	font-family: "font";
}

input {
	width: 604px;
	height: 79px;
	border: 2px solid black;
	border-radius: 50px;
	background-color: #E3E7EB;
	font-size: 32px;
	padding-left: 2%;
	font-family: "font";
}

.input_item {
	margin-top: 5%;
}

select {
	width: 604px;
	height: 79px;
	border: 2px solid black;
	border-radius: 50px;
	background-color: #E3E7EB;
	font-size: 32px;
	padding-left: 2%;
	font-family: "font";	
}

option {
	width: 604px;
	height: 79px;
	border: 2px solid black;
	border-radius: 50px;
	background-color: #E3E7EB;
	font-size: 32px;
	padding: 2;
	font-family: "font";	
}

textarea {
	width: 604px;
	height: 293px;
	border-radius: 35px;
	font-size: 32px;
	padding-left: 2%;
	font-family: "font";
	margin-bottom: 5%;
	background-color: #E3E7EB;
}

.add_button {
	width: 352px;
	height: 96px;
	border-radius: 10px;
	border: none;
	font-family: "font";
	font-size: 36px;
	background-color: #E3E7EB;
	cursor: pointer;
}

.add_button:hover {
    background-color: #D3DBE3;
}

.button_div {
	margin-top: 3%;
}

.success {
	margin-top: 2%;
	font-size: 36px;
}