* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: font;
    src: url(../fonts/Roboto-Regular.ttf);
}

p {
    font-family: "font";
}

body {
    width: 1920px;
    background-color: #F7F7F7;

}

.container {
    width: 1820px;
    margin-left: auto;
}

.add_plant_btn {
	width: 520px;
	height: 122px;
	border: none;
	border-radius: 10px;
	background-color: #D3DBE3;
	font-size: 36px;
	margin-left: 33%;
	margin-top: 10%;
	cursor: pointer;
}

.add_plant_btn:hover {
    background-color: #E3E7EB;
}

.plants_list_title {
	text-align: center;
	font-size: 78px;
	margin-top: 10%;
}

.plants_div {
  grid-template-columns: 1fr 1fr;
  display: grid;
}

.plant {
    margin-top: 30%;
}

.plants_div a {
	padding: none;
}

.delete_plant_btn {
	width: 520px;
	height: 122px;
	border: none;
	border-radius: 10px;
	background-color: #D3DBE3;
	font-size: 36px;
	cursor: pointer;
	position: relative;
	top: -14vh;
	left: 17%;
}

.delete_plant_btn:hover {
    background-color: #E3E7EB;
}

 footer {
    margin-top: 25%;
    height: 287px;
    background-color: #E3E7EB;
    display: flex;
 }

 .logo_footer_div {
    position: relative;
    font-size: 60px;
    font-family: "font";
    width: 300px;
    left: 5%;
 }

 .footer_img {
    position: relative;
    left: 8%;
    top: 3vh;
 }

 .num {
    height: 50px;
    font-size: 36px;
    font-family: "font";
    color: #838586;
    position: relative;
    top: 50%;
    left: 10%;
 }

 .soc {
    display: flex;
    margin-left: 25%;
    margin-top: 5%;
 }

 .soc_div {
    margin-left: 40%;
 }