* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: font;
    src: url(../fonts/Roboto-Regular.ttf);
}

p {
    font-family: "font";
}

body {
    width: 1920px;
    background-color: #F7F7F7;
}

.container {
    width: 1820px;
    margin-left: auto;
}

.login_div {
    text-align: center;
    margin-top: 7%;
}

.login_div p {
	font-size: 32px;
}

h1 {
	font-size: 72px;
	font-family: "font";
}

input {
	width: 604px;
	height: 79px;
	border: 2px solid black;
	border-radius: 50px;
	background-color: #E3E7EB;
	font-size: 32px;
	padding-left: 2%;
	font-family: "font";
}

.input_item {
	margin-top: 5%;
}

.auth_button {
	width: 352px;
	height: 96px;
	font-size: 36px;
	font-family: "font";
	border: none;
	border-radius: 10px;
	padding: auto;
	background-color: #E3E7EB;
	margin-top: 5%;
	cursor: pointer;
}

.auth_button:hover {
	background-color: #D3DBE3;
}

.register_button {
	border: none;
	width: 484px;
	height: 71px;
	border-radius: 20px;
	padding: auto;
	font-family: "font";
	font-size: 36px;
	margin-top: 5%;
	background-color: #E3E7EB;
	cursor: pointer;
}

.register_button:hover {
	background-color: #D3DBE3;
}

a {
	text-decoration: none;
	color: black;
}

.error {
	font-size: 24px;
}
